# This called workflow builds a docker container, targeting the "test" stage.

name: Build to test

on:
  workflow_call:
    inputs:
      path_to_context:
        required: true
        type: string
      dockerfile_name:
        default: Dockerfile
        required: false
        type: string
      cache:
        required: true
        type: string

jobs:

  build_to_test:
    runs-on: ubuntu-20.04
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache-${{ inputs.cache }}
          key: ${{ runner.os }}-buildx-${{ inputs.cache }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ inputs.cache }}

      - name: Build to test
        id: docker_build_to_test
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.path_to_context }}
          file: ${{ inputs.path_to_context }}/${{ inputs.dockerfile_name }}
          target: test
          push: false
          cache-from: type=local,src=/tmp/.buildx-cache-${{ inputs.cache }}
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-${{ inputs.cache }}-new

      - name: Move cache # apparently prevents the cache from growing in size forever
        run: |
          rm -rf /tmp/.buildx-cache-${{ inputs.cache }}
          mv /tmp/.buildx-cache-${{ inputs.cache }}-new /tmp/.buildx-cache-${{ inputs.cache }}

      - name: Image digest
        run: echo ${{ steps.docker_build_to_test.outputs.digest }}
