# This called workflow builds a docker container, targeting the "test" stage.

name: Build to test

on:
  workflow_call:
    inputs:
      tool:
        required: true
        type: string
      version:
        required: true
        type: string
      dockerfile_name:
        default: Dockerfile
        required: false
        type: string

jobs:
  build_to_test:
    runs-on: ubuntu-20.04
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache-${{ inputs.tool }}
          key: ${{ runner.os }}-buildx-${{ inputs.tool }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ inputs.tool }}

      - name: Build to test
        id: docker_build_to_test
        uses: docker/build-push-action@v2
        with:
          context: "${{ inputs.tool }}/${{ inputs.version }}"
          file: ${{ inputs.tool }}/${{ inputs.version }}/${{ inputs.dockerfile_name }}
          target: test
          push: false
          cache-from: type=local,src=/tmp/.buildx-cache-${{ inputs.tool }}
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-${{ inputs.tool }}-new

      - name: Move cache # apparently prevents the cache from growing in size forever
        run: |
          rm -rf /tmp/.buildx-cache-${{ inputs.tool }}
          mv /tmp/.buildx-cache-${{ inputs.tool }}-new /tmp/.buildx-cache-${{ inputs.tool }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
